body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 200%;
    padding-top: 75px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #191b22;
        color: #d9e1e8;
    }

    a:link {
        color: #dd87ff;
    }

    a:visited {
        color: #6153ff;
    }
}

input[type="text"]
{
    font-size: 110%;
    width: 75%;
}

button {
    font-size: 110%;
}

canvas {
    max-width: 1000px;
    width: 90%;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #ff6200;
}

#outDiv {
    font-size: 20%;
}

#outInfo {
    font-style: italic;
}

#usersDiv {
    margin-top: 30px;
    line-height: 100%;
    font-size: 100%;
}

#credits {
    min-width: 90%;
}

.userSubDiv {
    min-width: 400px;
    max-width: 90%;
}